<div class="container">


    <div class="brand-container">
        <div class="brand-container-content">
            <span>
                Name <strong>of</strong>
            </span>
            <h3>event</h3>
            <button type="button">BUY TICKETS</button>
        </div>
        
    </div>
    <aside class="aside-container">
        <main class="description-container">
            <span>January</span>
            <span><strong>1st</strong></span>
            <hr>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quam inventore quis repudiandae ipsam eum!
            </p>
        </main>
        
        <nav class="services-container">
            <app-services-blocks routePath="/gallery" brandText="GALLERY" descriptionText="SUBTITLE"></app-services-blocks>
            <app-services-blocks routePath="/home" brandText="ACTIVITIES" descriptionText="SUBTITLE"></app-services-blocks>
            <app-services-blocks brandText="KEYNOTES" descriptionText="SUBTITLE"></app-services-blocks>
        
        </nav>
    </aside>
   

</div>