

<header class="header">

  
    <nav class="navbar-container">
        <div class="logo-container">
            <a href="" class="logo">Event</a>
        </div>

        
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <div class="navbar-links">
            <ul class="menu">
                <a routerLink="/home" routerLinkActive="active">Home</a>
                <a routerLink="/gallery" routerLinkActive="active">Gallery</a>
                <a routerLink="/shopping" routerLinkActive="active">Shop</a>
                <a routerLink="/cart" routerLinkActive="active">
                    <fa-icon class="cart-icon" [icon]="CartIcon">
                        
                    </fa-icon>
                    <div></div>
                    <label *ngIf="totalItemsInCart>0">{{totalItemsInCart}}</label>
                    
                </a>
            </ul>
            
        </div>
        
        <label class="menu-icon" for="menu-btn">
            <fa-icon [icon]="BarsIcon"></fa-icon>
        </label>
    </nav>
</header>