.product-detail-container {
  width: 100%;
  height: 100%;
  background-color: red;
}

.product-detail-container .product-detail-content {
  position: relative;
}

img {
  width: 100%;
  max-width: 300px;
  max-height: 200px;
}
.product-detail-container .product-detail-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-detail-container .product-detail-content .choose-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  position: absolute;
  /* bottom: 20px;
  left: 10px; */
}
.product-detail-container
  .product-detail-content
  .choose-image-container
  .choose-image-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 20px;
  background-color: #000000;
  color: white;
  font-size: 0.7rem;
}
